target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env
.env.local
!.env.example

.idea/
*.iws
*.iml
*.ipr
.vscode/*
!.vscode/extensions.json
.classpath
.project
.settings/
bin/

.DS_Store
*.log
/postgres-data/
